In [11]:
import numpy as np
import pandas as pd

In [12]:
pd.Series([74.7,  75. ,  83.4,  57.6])

0    74.7
1    75.0
2    83.4
3    57.6
dtype: float64

In [13]:
countries = np.array(['Albania', 'Algeria', 'Andorra', 'Angola'])
life_expectancy = np.array([74.7,  75. ,  83.4,  57.6])

In [14]:
life_expectancy = pd.Series([74.7,  75. ,  83.4,  57.6],
                           index =  ['Albania', 'Algeria', 'Andorra', 'Angola'])

life_expectancy

Albania    74.7
Algeria    75.0
Andorra    83.4
Angola     57.6
dtype: float64

In [15]:
life_expectancy[0]

74.7

In [16]:
life_expectancy.loc['Angola']

57.6

In [17]:
life_expectancy.iloc[0]

74.7

In [18]:
countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
    'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia',
    'Bosnia and Herzegovina'
]

In [19]:
employment_values = [
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076
]

In [20]:
# Employment data in 2007 for 20 countries
employment = pd.Series(employment_values, index=countries)

In [21]:
#Redo max_employment function using pandas series