In [1]:
import numpy as np

In [2]:
#Employment Rates
countries = np.array([
    'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
    'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia',
    'Bosnia and Herzegovina'
])

In [3]:
employment = np.array([
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076
])

In [5]:
print(countries[0])
print(countries[3])

Afghanistan
Angola

In [7]:
print(countries[0:3])

['Afghanistan' 'Albania' 'Algeria']

In [8]:
print(countries[:3])

['Afghanistan' 'Albania' 'Algeria']

In [9]:
print(countries[17:])

['Bhutan' 'Bolivia' 'Bosnia and Herzegovina']

In [10]:
print(countries[:])

['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina']

In [11]:
print(countries.dtype)
print(employment.dtype)

<U22
float64

In [14]:
print("mean =", employment.mean())
print("std =", employment.std())
print("max =", employment.max())
print("min =", employment.sum())

mean = 58.68500003850001
std = 9.338269113687888
max = 75.69999695
min = 1173.70000077

In [18]:
for counrty in countries:
    print(counrty)

Afghanistan
Albania
Algeria
Angola
Argentina
Armenia
Australia
Austria
Azerbaijan
Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bhutan
Bolivia
Bosnia and Herzegovina

In [ ]:
'''
Write a function to return the name of the country 
with the highest employment in the given employment
data, and the employment in that country.
'''