In [28]:
import numpy as np
import pandas as pd

In [63]:
df = pd.DataFrame({
    'a': [4, 5, 3, 1, 2],
    'b': [20, 10, 40, 50, 30],
    'c': [25, 20, 5, 15, 10]
})

In [64]:
print(df.apply(np.mean))
print(df.apply(np.max))

a     3.0
b    30.0
c    15.0
dtype: float64
a     5
b    50
c    25
dtype: int64

In [57]:
'''
Write a function to return the second-largest value of each 
column of the input DataFrame.
'''

def second_largest(df):

SyntaxError: unexpected EOF while parsing (<ipython-input-57-97de7856047e>, line 7)

In [66]:
df.sort_values(by=['a'], ignore_index=True)

TypeError: sort_values() got an unexpected keyword argument 'ignore_index'

   a   b   c
0  4  20  25
1  5  10  20
2  3  40   5
3  1  50  15
4  2  30  10