In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import datetime
from datetime import date
from datetime import datetime


%matplotlib inline
np.random.seed(42)

df = pd.read_csv('homepage_actions.csv')

# I converted action to either True of False for easier calcuation
df['action'] = df['action'].map({'click':True ,'view':False})

df.head()
#df.count()
#df.describe()

                    timestamp      id       group  action
0  2016-09-24 17:42:27.839496  804196  experiment   False
1  2016-09-24 19:19:03.542569  434745  experiment   False
2  2016-09-24 19:36:00.944135  507599  experiment   False
3  2016-09-24 19:59:02.646620  671993     control   False
4  2016-09-24 20:26:14.466886  536734  experiment   False

In [17]:
df[df['group'] == 'control'].mean()
df[df['group'] == 'experiment'].mean()

id        566744.854485
action         0.236493
dtype: float64

In [18]:
print(.236493 - .218574) * 100)

0.017919000000000018