In [14]:
import pandas as pd

In [15]:
values = np.array([1, 3, 2, 4, 1, 6, 4])
example_df = pd.DataFrame({
    'value': values,
    'even': values % 2 == 0,
    'above_three': values > 3 
}, index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])

In [13]:
example_df

   value   even  above_three
a      1  False        False
b      3  False        False
c      2   True        False
d      4   True         True
e      1  False        False
f      6   True         True
g      4   True         True

In [16]:
# groupby() without as_index

first_even = example_df.groupby('even').first()
print(first_even)
#print(first_even['even']) # Causes an error. 'even' is no longer a column in the DataFrame

       value  above_three
even
False      1        False
True       2        False

In [17]:
# groupby() without as_index

first_even = example_df.groupby('even', as_index=False).first()

print(first_even['even'])

0    False
1     True
Name: even, dtype: bool

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
values = np.array([1, 3, 2, 4, 1, 6, 4])
example_df = pd.DataFrame({
    'value': values,
    'even': values % 2 == 0,
    'above_three': values > 3 
}, index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])

In [3]:
values

array([1, 3, 2, 4, 1, 6, 4])

In [4]:
example_df

   value   even  above_three
a      1  False        False
b      3  False        False
c      2   True        False
d      4   True         True
e      1  False        False
f      6   True         True
g      4   True         True