In [22]:
import numpy as np
import pandas as pd

In [23]:
values = np.array([1, 3, 2, 4, 1, 6, 4])
example_df = pd.DataFrame({
    'value': values,
    'even': values % 2 == 0,
    'above_three': values > 3 
}, index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])

In [24]:
print(example_df)

   value   even  above_three
a      1  False        False
b      3  False        False
c      2   True        False
d      4   True         True
e      1  False        False
f      6   True         True
g      4   True         True

In [25]:
grouped_data = example_df.groupby('even')
# The groups attribute is a dictionary mapping keys to lists of row indexes
print(grouped_data.groups)

{False: Index(['a', 'b', 'e'], dtype='object'), True: Index(['c', 'd', 'f', 'g'], dtype='object')}

In [26]:
# Group by multiple columns

grouped_data = example_df.groupby(['even', 'above_three'])
print(grouped_data.groups)

{(False, False): Index(['a', 'b', 'e'], dtype='object'), (True, False): Index(['c'], dtype='object'), (True, True): Index(['d', 'f', 'g'], dtype='object')}

In [27]:
# Using aggregation functions

grouped_data = example_df.groupby('even')

print(grouped_data.sum())

       value  above_three
even
False      5          0.0
True      16          3.0

In [28]:
# You can take one or more columns from the result DataFrame
print(grouped_data.sum()['value'])

even
False     5
True     16
Name: value, dtype: int32

In [29]:
'''
Write code here to group the subway data by day of the week, then
print out the mean ridership within each group 
'''

'\nWrite code here to group the subway data by day of the week, then\nprint out the mean ridership within each group \n'

In [30]:
filename = 'nyc_subway_weather.csv'
subway_df = pd.read_csv(filename)

In [31]:
grouped_data.groups

{False: Index(['a', 'b', 'e'], dtype='object'),
 True: Index(['c', 'd', 'f', 'g'], dtype='object')}

In [32]:
grouped_data.mean()

          value  above_three
even
False  1.666667         0.00
True   4.000000         0.75